@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/base-responsive.min.css" media="all" />
    <script type="text/javascript"> window.SINGER = { compatible: true } </script>
}
@section Footer{}
@model IEnumerable<Tjzx.Official.Models.Entities.MedicalPackage>
<div>@Html.ActionLink("关于我们","About")</div>
<div>
    @foreach (var m in Model)
    {
        <div class="item">
            <h3>@m.Name</h3>
            <h4>@m.Category.Name</h4>
            <h4>￥<del>@m.MarketPrice</del> ￥<b>@m.Price</b></h4>
            <div class="desc">
                @m.Details
            </div>
        </div>
    }
</div>