@using Tjzx.BLL.Config
@using Tjzx.Official.BLL.Config
@{
    var config = ConfigUtils<IndexConfig>.Instance().Get();
    var topNav = new List<Navigation>();
    if (config != null && config.Navigations != null)
    {
        topNav = config.Navigations.Where(t => t.ParentId == 0).OrderBy(t => t.Sort).ToList();
    }
}
<header>
    <div class="t-top-nav">
        <div class="t-box">
            <ul class="nav-list">
                <li>
                    <div class="t-menu-hd">
                        <a href="#">体检预约</a>
                    </div>
                </li>
                <li class="j-menu">
                    <s></s>
                    <div class="t-menu-hd">
                        <span class="icon icon-menu">&#xf03a;</span>
                        <a href="#">网站导航</a>
                        <i>
                            <em></em>
                            <span></span>
                        </i>
                    </div>
                    <div class="t-menu-bd">
                        <div class="t-menu-panel">
                            @if (config != null && config.Navigations != null && topNav.Any())
                            {
                                foreach (var top in topNav)
                                {
                                    <div class="t-menu-item">
                                        <h3><span class="icon">@Html.Raw(top.Icon)</span>@top.Name</h3>
                                        <div>
                                            <dl>
                                                @foreach (var nav in config.Navigations.Where(t => t.ParentId == top.Id).OrderBy(t => t.Sort))
                                                {
                                                    <dd>
                                                        <a href="@nav.Link">@nav.Name</a>
                                                    </dd>
                                                }
                                            </dl>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="t-top">
        <div class="t-logo-box">
            <a class="t-logo" href="/">
                <img src="//ued.tjzx.com/img/logo.jpg" width="215px" height="54px" alt="体检中心"/>
            </a>
            <div class="t-desc">
                国内首家专业体检机构<br/>
                开创四川省"医检分离"的全新体检模式
            </div>
        </div>
        <div class="t-service">
            <h2>全国统一服务热线</h2>
            <h3>个人：028-87394720</h3>
            <h3>团队：028-87394720</h3>
        </div>
    </div>
    <nav>
        <ul class="t-nav">
            <li class="active">
                <a href="/">首页</a>
            </li>
            @if (topNav.Any())
            {
                foreach (var nav in topNav)
                {
                    string attr = string.Empty, css = string.Empty;
                    if (!string.IsNullOrEmpty(nav.Class))
                    {
                        css = nav.Class;
                    }
                    if (!string.IsNullOrEmpty(nav.Target))
                    {
                        attr = string.Format(" target={0}", nav.Target);
                    }
                    <li class="@css">
                        <a href="@nav.Link"@attr>@nav.Name</a>
                    </li>
                }
            }
        </ul>
    </nav>
    <script type="text/javascript">
        (function () {
            //设置导航
            var navs = document.getElementsByTagName("nav")[0].getElementsByTagName("a"),
                url = location.href;
            for (var i = 1; i < navs.length; i++) {
                var href = navs[i].getAttribute("href");
                if (/\/item\/\d+/i.test(url))
                    url = "/packages";
                if (url.indexOf(href) >= 0) {
                    navs[0].parentNode.className = "";
                    navs[i].parentNode.className += " active";
                    break;
                }
            }
        })();
    </script>
</header>