@using Tjzx.Official.BLL.ViewModels;
@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/base-responsive.min.css" media="all" />
    <script type="text/javascript">window.SINGER = { compatible: true,mapContainer:'map' } </script>
}
@model Tjzx.Official.BLL.Config.IndexConfig
<div>
    @if (Model != null)
    {
        <ul>
            @if (Model.Sliders != null)
            {
                foreach (var slider in Model.Sliders)
                {
                    <li>
                        <a href="@slider.Link" title="@slider.Title">
                            <img src="@slider.ImageUrl" alt="@slider.Title" />
                        </a>
                    </li>
                }
            }
        </ul>
        <ul>
            @if (Model.Categories != null)
            {
                foreach (var category in Model.Categories)
                {
                    <li>
                        <a href="/package/@category.CategoryId" title="@category.CategoryName">
                            <img src="@category.ImageUrl" alt="@category.CategoryName" />
                            <h3>@category.CategoryName</h3>
                        </a>
                    </li>
                }
            }
        </ul>
    }
</div>