@section Header{
    <link href="//ued.shoy.com/css/h-pager.min.css?t=20140408" rel="stylesheet" type="text/css" />
}
@using Shoy.Utility.Extend
@using Tjzx.Official.BLL
@using Tjzx.Official.BLL.Dict
@{
    ViewBag.Title = "咨询交流";
}
<div class="m-panel">
    <div class="m-panel-title">
        <ul>
            <li class="active">咨询列表</li>
        </ul>
    </div>
    <div class="m-panel-item">
        <div class="m-form s-form">
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">咨询主题：</label>
                <div class="m-form-controls">
                    <input type="text" name="keyword" key-submit class="col-16" />
                </div>
            </div>
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">处理情况：</label>
                <div class="m-form-controls">
                    <select name="deelState" class="col-08">
                        <option value="@Const.Ignore">所有状态</option>
                        @{
                            foreach (StateType type in new[] {StateType.Display, StateType.Hidden})
                            {
                                <option value="@type.GetValue()">@type.ConsultingStateText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">显示状态：</label>
                <div class="m-form-controls">
                    <select name="state" class="col-08">
                        <option value="@Const.Ignore">所有状态</option>
                        @{
                            foreach (StateType type in new[] {StateType.Display, StateType.Hidden})
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-actions inline">
                <button class="btn btn-primary j-search" data-tag="正在搜索...">搜　索</button>
            </div>
        </div>
        <table class="m-table">
            <caption>预约列表<small>共找到<em>0</em>条记录</small></caption>
            <colgroup>
                <col class="col-06"/>
                <col />
                <col class="col-06"/>
                <col class="col-12"/>
                <col class="col-16"/>
                <col class="col-10"/>
                <col class="col-10"/>
                <col class="col-12"/>
            </colgroup>
            <thead>
                <tr>
                    <th>预约ID</th>
                    <th>咨询主题</th>
                    <th>联系人</th>
                    <th>联系方式</th>
                    <th>提交时间</th>
                    <th>处理情况</th>
                    <th>显示状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="j-htemplate">
                <tr>
                    <td colspan="8">
                        <div class="m-loading">加载中...</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="h-pager"></div>
    </div>
    <div class="m-panel-item hide">
        <div class="m-form j-form">
            <div class="m-form-group">
                <label class="m-form-label">咨询主题</label>
                <div class="m-form-controls">
                    <div class="b-title"></div>
                    <input type="hidden" name="id" value="0"/>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label">咨询内容</label>
                <div class="m-form-controls">
                    <div class="b-content"></div>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>显示状态</label>
                <div class="m-form-controls">
                    <select name="state" class="col-06">
                        @{
                            foreach (StateType type in new[] { StateType.Display, StateType.Hidden })
                            {
                                <option value="@type.GetValue()"@(type == StateType.Display ? " selected":"")>@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>处理信息</label>
                <div class="m-form-controls">
                    <textarea class="input-large row02" name="deelSituation" data-valid="{type:'require',msg:'请填写处理信息！'}"></textarea>
                </div>
            </div>
            <div class="m-form-actions well">
                <button type="button" class="btn btn-primary j-submit">确认提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/h-temp" id="h-temp">
    <tr data-id="{id}">
        <td>{id}</td>
        <td><a href="#" class="j-edit">{title}</a></td>
        <td>{contact}</td>
        <td>{mobile}</td>        
        <td>{createon}</td>
        <td>{deelState}</td>
        <td>{stateCN}</td>
        <td>{links}</td>
    </tr>        
</script>
<script type="text/h-temp" id="h-empty">
    <tr>
        <td colspan="8">没找到相关咨询信息！</td>
    </tr>        
</script>
@section Footer{
    <script type="text/javascript" src="//ued.shoy.com/js/tjzx/m/m-base.min.js"></script>
    <script type="text/javascript" src="//ued.shoy.com/js/plugs/Jq-form.min.js"></script>
    <script type="text/javascript" src="//ued.shoy.com/source/js/tjzx/m/page-consulting.js"></script>
}