@section Header{
    <link href="//ued.tjzx.com/css/h-pager.min.css?t=20140408" rel="stylesheet" type="text/css" />
}
@using Shoy.Utility.Extend
@using Tjzx.Official.BLL
@using Tjzx.Official.BLL.Dict
@{
    ViewBag.Title = "会员管理";
}
<div class="m-panel">
    <div class="m-panel-title">
        <ul>
            <li class="active">会员列表</li>
            <li>新增会员</li>
        </ul>
    </div>
    <div class="m-panel-item">
        <div class="m-form s-form">
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">姓名/帐号：</label>
                <div class="m-form-controls">
                    <input type="text" name="keyword" key-submit class="col-16" />
                </div>
            </div>
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">会员等级：</label>
                <div class="m-form-controls">
                    <select name="role" class="col-08">
                        <option value="@Const.Ignore">所有会员</option>
                        @{
                            foreach (MemberLevel type in Enum.GetValues(typeof(MemberLevel)))
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-actions inline">
                <button class="btn btn-primary j-search" data-tag="正在搜索...">搜　索</button>
                <button class="btn disabled" disabled data-tag="正在导入...">导入会员</button>
            </div>
        </div>
        <table class="m-table">
            <caption>会员列表<small>共找到<em>0</em>条记录</small></caption>
            <colgroup>
                <col class="col-06"/>
                <col class="col-12" />
                <col class="col-10"/>
                <col class="col-10" />
                <col class="col-10"/>
                <col class="col-08"/>
                <col class="col-12"/>
            </colgroup>
            <thead>
                <tr>
                    <th>会员ID</th>
                    <th>登录帐号</th>
                    <th>姓名</th>
                    <th>会员等级</th>
                    <th>注册时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="j-htemplate">
                <tr>
                    <td colspan="7">
                        <div class="m-loading">加载中...</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="h-pager"></div>
    </div>
    <div class="m-panel-item hide">
        <div class="m-form j-form">
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>姓　　名</label>
                <div class="m-form-controls">
                    <input type="text" class="text" name="realName" data-valid="{type:'require',msg:'姓名不能为空！'}" />
                    <input type="hidden" name="memberId" value="0"/>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>登录帐号</label>
                <div class="m-form-controls">
                    <input type="text" name="userName" class="text" data-valid="{type:'^[a-z0-9]{4,16}$',msg:'请输入4-16位字符！'}" />
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>登录密码</label>
                <div class="m-form-controls">
                    <input type="password" name="userPwd" class="text" data-valid="{type:'^[a-z0-9]{4,16}$',msg:'请输入4-16位字符！'}" />
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>会员等级</label>
                <div class="m-form-controls">
                    <select name="level" class="col-10">
                        <option value="@Const.Ignore">选择等级</option>
                        @{
                            foreach (MemberLevel type in Enum.GetValues(typeof(MemberLevel)))
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-actions well">
                <button type="button" class="btn btn-primary j-submit">确认提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/h-temp" id="h-temp">
    <tr data-id="{id}">
        <td>{id}</td>
        <td>{userName}</td>
        <td>{realName}</td>
        <td>{levelDesc}</td>
        <td>{createon}</td>
        <td>{stateCN}</td>                
        <td>{links}</td>
    </tr>        
</script>
<script type="text/h-temp" id="h-empty">
    <tr>
        <td colspan="7">没找到相关会员！<a href="#" class="j-send">去添加</a></td>
    </tr>        
</script>
@section Footer{
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/m/m-base.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/plugs/Jq-form.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/m/page-member.min.js"></script>
}