@section Header{
    <link href="//ued.tjzx.com/css/h-pager.min.css?t=20140408" rel="stylesheet" type="text/css" />
}
@using Shoy.Utility.Extend
@using Tjzx.Official.BLL.Business
@using Tjzx.Official.BLL.Dict
@{
    ViewBag.Title = "新闻资讯";
}
<div class="m-panel">
    <div class="m-panel-title">
        <ul>
            <li class="active">资讯列表</li>
            <li>发布资讯</li>
        </ul>
    </div>
    <div class="m-panel-item">
        <div class="m-form s-form">
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">标　　题：</label>
                <div class="m-form-controls">
                    <input type="text" name="keyword" key-submit class="col-16" />
                </div>
            </div>
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">资讯类型：</label>
                <div class="m-form-controls">
                    <select name="type" class="col-08">
                        <option value="@Const.Ignore">所有类型</option>
                        @{
                            foreach (NewsType type in Enum.GetValues(typeof (NewsType)))
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">资讯状态：</label>
                <div class="m-form-controls">
                    <select name="state" class="col-08">
                        <option value="@Const.Ignore">所有状态</option>
                        @{
                            foreach (StateType type in Enum.GetValues(typeof (StateType)))
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-actions inline">
                <button class="btn btn-primary j-search" data-tag="正在搜索...">搜　索</button>
            </div>
        </div>
        <table class="m-table">
            <caption>资讯列表</caption>
            <colgroup>
                <col class="col-06"/>
                <col />
                <col class="col-08"/>
                <col class="col-10"/>
                <col class="col-08"/>
                <col class="col-08"/>
                <col class="col-12"/>
            </colgroup>
            <thead>
                <tr>
                    <th>资讯ID</th>
                    <th>资讯标题</th>
                    <th>资讯类别</th>
                    <th>发布时间</th>
                    <th>发布者</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="j-htemplate">
                <tr>
                    <td colspan="7">
                        <div class="m-loading">加载中...</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="h-pager"></div>
    </div>
    <div class="m-panel-item hide">
        <div class="m-form j-form">
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>资讯标题</label>
                <div class="m-form-controls">
                    <input type="text" class="input-large" name="title" data-valid="{type:'require',msg:'资讯标题不能为空！'}" />
                    <input type="hidden" name="newsId" value="0"/>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>资讯类型</label>
                <div class="m-form-controls">
                    <select name="type" class="col-10" data-valid="{type:'^[0-9]+$',msg:'请选择类型！'}">
                        <option value="-1">请选择类型</option>
                        @{
                            foreach (NewsType type in Enum.GetValues(typeof (NewsType)))
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>资讯状态</label>
                <div class="m-form-controls">
                    <select name="state" class="col-06">
                        @{
                            foreach (StateType type in Enum.GetValues(typeof(StateType)))
                            {
                                <option value="@type.GetValue()"@(type == StateType.Display ? " selected":"")>@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label">作　　者</label>
                <div class="m-form-controls">
                    <input type="text" name="author" />
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label">出　　处</label>
                <div class="m-form-controls">
                    <input type="text" name="comefrom" />
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label">资讯内容</label>
                <div class="m-form-controls" style="height: 510px">
                    <script type="text/plain" id="content" class="content"></script>
                </div>
            </div>
            <div class="m-form-actions">
                <button type="button" class="btn btn-primary j-release">发布资讯</button>
            </div>
        </div>
    </div>
</div>
<script type="text/h-temp" id="h-temp">
    <tr>
        <td>{id}</td>
        <td class="text-left">{title}</td>
        <td>{typeCN}</td>
        <td>{createon}</td>
        <td>{creator}</td>
        <td>{stateCN}</td>
        <td data-id="{id}">{links}</td>
    </tr>        
</script>
<script type="text/h-temp" id="h-empty">
    <tr>
        <td colspan="7">没找到相关资讯！<a href="#" class="j-send">去发布</a></td>
    </tr>        
</script>
@section Footer{
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/m/m-base.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/hTemplate.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/source/js/plugs/Jq-form.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.config.js" charset="utf-8"></script>
    <script type="text/javascript" src="/ueditor/ueditor.all.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js" charset="utf-8"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/m/page-news.min.js"></script>
}