@section Header{
    <link href="//ued.tjzx.com/css/h-pager.min.css?t=20140408" rel="stylesheet" type="text/css" />
}
@using Shoy.Utility.Extend
@using Tjzx.Official.BLL.Business
@using Tjzx.Official.BLL.Dict
@{
    ViewBag.Title = "体检套餐管理";
}
<div class="m-panel">
    <div class="m-panel-title">
        <ul>
            <li class="active">套餐列表</li>
            <li>新增套餐</li>
        </ul>
    </div>
    <div class="m-panel-item">
        <div class="m-form s-form">
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">套餐名称：</label>
                <div class="m-form-controls">
                    <input type="text" name="keyword" key-submit class="col-16" />
                </div>
            </div>
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">套餐状态：</label>
                <div class="m-form-controls">
                    <select name="state" class="col-08">
                        <option value="@Const.Ignore">所有状态</option>
                        @{
                            foreach (StateType type in new[] {StateType.Display, StateType.Hidden})
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-group m-form-inline">
                <label class="m-form-label">套餐分类：</label>
                <div class="m-form-controls">
                    <select name="state" class="col-08">
                        <option value="@Const.Ignore">所有分类</option>
                        @{
                            foreach (StateType type in new[] {StateType.Display, StateType.Hidden})
                            {
                                <option value="@type.GetValue()">@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-actions inline">
                <button class="btn btn-primary j-search" data-tag="正在搜索...">搜　索</button>
            </div>
        </div>
        <table class="m-table">
            <caption>套餐列表</caption>
            <colgroup>
                <col class="col-06"/>
                <col />
                <col class="col-12"/>
                <col class="col-06"/>
                <col class="col-12"/>
                <col class="col-16"/>
                <col class="col-10"/>
                <col class="col-10"/>
                <col class="col-12"/>
            </colgroup>
            <thead>
                <tr>
                    <th>套餐ID</th>
                    <th>套餐名称</th>
                    <th>套餐分类</th>
                    <th>适用性别</th>
                    <th>适用人群</th>
                    <th>套餐特点</th>
                    <th>添加时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="j-htemplate">
                <tr>
                    <td colspan="9">
                        <div class="m-loading">加载中...</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="h-pager"></div>
    </div>
    <div class="m-panel-item hide">
        <div class="m-form j-form">
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>套餐名称</label>
                <div class="m-form-controls">
                    <input type="text" class="text" name="name" data-valid="{type:'require',msg:'不能为空！'}" />
                    <input type="hidden" name="cateId" value="0"/>
                </div>
            </div>
            <div class="m-form-group">
                <label class="m-form-label"><em>*</em>套餐分类</label>
                <div class="m-form-controls">
                    <select name="state" class="col-06">
                        @{
                            foreach (StateType type in new[] { StateType.Display, StateType.Hidden })
                            {
                                <option value="@type.GetValue()"@(type == StateType.Display ? " selected":"")>@type.GetText()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="m-form-actions">
                <button type="button" class="btn btn-primary j-submit">确认提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/h-temp" id="h-temp">
    <tr>
        <td>{id}</td>
        <td>{name}</td>
        <td>{category}</td>
        <td>{sex}</td>
        <td>{ftc}</td>
        <td>{Feature}</td>
        <td>{createon}</td>
        <td>{stateCN}</td>
        <td data-id="{id}">{links}</td>
    </tr>        
</script>
<script type="text/h-temp" id="h-empty">
    <tr>
        <td colspan="9">没找到相关体检套餐！</td>
    </tr>        
</script>
@section Footer{
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/m/m-base.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/hTemplate.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/plugs/Jq-form.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/m/page-package.min.js"></script>
}